:root 
{
    --base-color: rgb(17,66,0);
    --color1: rgb(48,194,0);
    --color2: rgb(53,143,22);
    --color3: rgb(92,194,58);
    --color4: rgba(17, 66, 0);
    --font: 'Ubuntu', sans-serif;
}
@media (max-width: 630px)
{
    .main-info-container
    {
        margin-top: 10px;
        width: 100%;
        height: 140px;
    }
    .new-data span
    {
        font-size: 1rem;
    }
    footer 
    {
        display: none;
    }
    .body-logpage 
    {
        background-image: url(./img/background-logpage.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1700px;
        justify-content: center;
    }
    .log-container 
    {
        width: 76%;
    }
    .title-page-log 
    {
        font-size: 2rem;
    }
    .form-container div 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
    }
    .form-container label 
    {
        font-size: 1.5rem;
    }
    .form-container input
    {
        border: 0px;
        border-bottom: 1px solid var(--color2);
        outline: none;
    }
    .form-container input:active
    {
        border-bottom: 2px solid var(--color2);
    }
    .password-input-container 
    {
        margin-top: 20px;
    }
    .or-register 
    {
        margin-top: 20px;
        font-size: 1.4rem;
        text-align: center;
    }
    .forgot-password
    {
        margin-top: 10px;
        font-size: 1.4rem;
        text-align: center;
    }
    .terms-check input 
    {
        width: 100%;
    }
}
@media (max-width: 850px)
{
    .fa-bars 
    {
        display: flex;
        font-size: 40px;
        margin-right: 20px;
    }
    .fa-xmark
    {
        display: flex;
        font-size: 40px;
        margin-right: 20px;
    }
    .main-info-box
    {
        font-size: 1.6rem;
    }
    .main-info-btn
    {
        font-weight: normal;
    }
    .desktop-menu 
    {
        display: none;
    }
    .recently-data 
    {
        margin: 10px 0px; 
    }
    .grid-square-container 
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .data4 
    {
        display: none;
    }
    .show-all-articles span 
    {
        background-color: var(--color3);
        padding: 4px;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 1px gray;
    }
    .show-all-articles span a
    {
        color: white;
        font-size: 1.8rem;
    }
}
@media (min-width:850px)
{
    .mobile-menu-dropdown 
    {
        display: none;
    }
    .mobile-menu-icon
    {
        display: none;
    }
}
@media (min-width: 1070px)
{
    .main-info-container 
    {
        width: 95%;
    }
    .main-info-box 
    {
        font-size: 5rem;
    }
    .main-info-btn 
    {
        font-size: 2rem;
    }
}
